*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/graphql/com/spacenextdoor/Apollo.kt
app/src/main/graphql/com/spacenextdoor/Apollo.kt
app/src/main/graphql/com/spacenextdoor/Apollo.kt
app/src/main/graphql/com/spacenextdoor/Apollo.kt
app/src/main/graphql/com/spacenextdoor/Apollo.kt
app/src/main/graphql/com/spacenextdoor/Login.graphql
app/src/main/graphql/com/spacenextdoor/sendOTP.graphql
app/src/main/graphql/com/spacenextdoor/sendOTP.graphql
app/src/main/graphql/com/spacenextdoor/Login.graphql
app/src/main/graphql/com/spacenextdoor/Apollo.kt
app/src/main/res/layout/activity_payment_details.xml
app/src/main/java/com/spacenextdoor/ui/activities/Payment/PaymentDetailsActivity.kt
hs_err_pid6516.log
hs_err_pid1820.log
